{% extends "base.html" %}
{% block content %}
<style>
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #d7d7d7;
        cursor: pointer;
    }
    ol{
        font-size:16px;
    }
    .breadcrumb > li + li:before {
        content: ">";
        color: #999999;

    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        line-height: 25px;
        min-height: 25px;
        height: 32px;
        padding-left: 12px;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        padding: 0px;
        padding-left:10px;
        border-color: #e3e3e3;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        line-height: 25px;
        min-height: 25px;
        height: 32px;
        padding-left: 12px;
        max-width: 600px;
    }
    a:hover{
        text-decoration: none;
    }
    img.fileicon{
        width:20px;
        height:20px;
    }
    div.filethumbnail{
        margin-top:2px;
        margin-bottom:2px;
    }
    .breadcrumb {
        margin-bottom:10px;
    }
    div.files_header{
        padding-left:10px;
        padding-top:12px;
        padding-right:0px;
        padding-bottom:12px;
        font-family: sans-serif;
        font-size: 14px;
        float:left;
    }
    div.action_more{
        border-bottom: 1px solid #e3e3e3;
        overflow:hidden;
        display:none;
    }
    div.action_container{
        padding-left:10px;
        padding-top:12px;
        padding-right:0px;
        padding-bottom:12px;
        font-family: sans-serif;
        font-size: 14px;
    }
    div.info_files{
        border-bottom: 1px solid #e3e3e3;
        overflow:hidden;
    }
    div.actions{
        float:right;
        padding-top:10px;
        padding-right:12px;
    }
    .btn-sm, .btn-group-sm>.btn {
        line-height: 1.2;
    }
    .meta-divider {
        display: inline-block;
        width: 2px;
        height: 18px;
        margin: 0 3px;
        vertical-align: middle;
        background-color: #ddd;
        border-right: 1px solid #fff;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        border-bottom: 1px solid #ddd;
        border-top:none;
    }
    input.cmd{
        resize: none;
        border:1px solid #e3e3e3;
        padding-left: 8px;
    }
    div.idontlikewritingcssandhtml{
        float:left;
        margin-right:12px;
        margin-top:2px;
    }
    button.copy:focus {
        outline:0;
    }
    input.form-control{
        float:left;
    }
</style>

<div style="height:20px;"></div>

<div class="container">
    <div class="row">
        <!--<div style="border:1px solid red;height: 200px;"></div>-->
        {% if files %}
            <ol class="breadcrumb">
                <li><a href="/browse">Sources</a></li>
                {% for crumb in breadcrumbs %}
                    {% if crumb['active'] %}
                        <li class="active">{{crumb['name']}}</li>
                    {% else %}
                        <li><a href="/{{crumb['href']}}">{{crumb['name']}}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>

            {% if source.html_header %}
                {% if path == '/' %}
                    <pre>{{source.html_header}}</pre>
                {% endif %}
            {% endif %}

            <div style="margin-bottom:10px;padding-right:0px;padding-left:0px;">
                <div class="input-group">
                    <input class="form-control" type="text" id="quick_search" placeholder="Quick Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                </div>
            </div>

            <div class="well" style="padding:0px;">
                <div class="info_files">
                    <div class="files_header">
                        <span><img style="margin-top:-4px;margin-right:2px;" width="13px" height="13px" src="/static/icons/blue/128/Very_Basic/folder-128.png"/></span>
                        <span>{{files|length}} items</span>
                        <span class="meta-divider"></span>
                        <span>{{files_size}}</span>
                    </div>

                    <div class="actions">
                        <div class="btn-group btn-group-sm">
                            <button id="btn_action_fetch" type="button" class="btn btn-default"><b>Fetch</b></button>
                            <button id="btn_action_raw" type="button" class="btn btn-default"><b>Raw</b></button>
                            <button id="btn_action_copy" type="button" class="btn btn-default"><b>Filter</b></button>
                        </div>
                        <button style="margin-left:10px;color:#900;" type="button" class="btn btn-default btn-sm"><b>Delete</b></button>
                    </div>
                </div>

                <div class="action_more">
                    <div id="action_fetch_container" class="action_container">
                        <h4>linux/osx</h4>
                        <div style="overflow:hidden;margin-left:20px;margin-top:4px;">
                            <div style="float:left;margin-right:16px;">
                                <b>wget</b>
                            </div>
                            <div class="idontlikewritingcssandhtml">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="fetch_wget" placeholder="" value="{{fetch['wget']}}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default copy disabled" type="button">
                                            <span style="font-size:12px;">copy to clipboard</span>
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div style="float:left;margin-right:16px;margin-top:4px;">
                                <b>lftp</b>
                            </div>
                            <div class="idontlikewritingcssandhtml">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="fetch_lftp" placeholder="" value="{{fetch['lftp']}}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default copy disabled" type="button">
                                            <span style="font-size:12px;">copy to clipboard</span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="padding-left:19px;padding-right:19px;padding-top:6px;">
                    <table id="navigationTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Filename</th>
                            <th style="min-width: 50px;">Size</th>
                            <th>Perm</th>
                            <th style="width: 136px;">Modified</th>
                        </tr>
                        </thead>
                        <tbody data-link="row" class="rowlink">
                            {% for f in files %}
                                <tr rel="popover" title="">
                                    <td class="rowlink-skip">
                                        <div id="{{f.filename}}" class="filethumbnail">
                                            <img class="fileicon" src="{{f.url_icon}}"/>
                                            <div style="height: 2px;"></div>
                                        </div>
                                    </td>
                                    <td><a class="hoi" title='' href="{{f.filename}}{% if f.is_directory %}/{% endif %}" target="_self"><b>{{f.filename}}</b></a></td>
                                    <td><b>{{f.filesize}}</b></td>
                                    <td>{{f.fileperm}}</td>
                                    <td>{{f.filemodified}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% if path != '/' %}
            {% if load_time %}
                <div class="alert alert-info">Page load: {{load_time}} sec</div>
        {% endif %}
        <br>
        {% endif %}
        {% else %}
            Does not exist or no files have been added yet.
        {% endif %}
    </div>

</div>
<script>
    $(document).ready(function(){
        $(function(){
            $("#navigationTable").tablesorter();

            $('.tablesorter-header').css('border', '0px solid white');
            $('.tablesorter-headerUnSorted').css('border', '0px solid white');

            var image = '<img width=256 src=\"http://i.imgur.com/SoYA2Og.jpg\"/>';
            $('.tr').popover({placement: 'bottom', content: image, html: true, trigger: "hover"});

            $("#quick_search").keyup(function (e) {
                if (e.keyCode == 13) {
                    var val = $('#quick_search').val();
                    if(val != ''){
                        var uri = '/search?query='+val+'&server=[{{source.name}}]&path={{path_quoted}}';
                        goto_uri(uri);
                    }
                }
            });

            var display_action_fetch = false;

            function actions_closeall(){
                $('#action_fetch_container').hide();
                $('.action_more').css('border-bottom', '0px solid white');
                $('#btn_action_fetch').attr('class', 'btn btn-default');

                display_action_fetch = false;
            }

            function toggle_action_fetch(){
                if(!display_action_fetch){
                    display_action_fetch = true;
                    $('.action_more').css('display', 'inline');
                    $('.action_more').css('border-bottom', '1px solid #e3e3e3');

                    $('#action_fetch_container').show();
                    $('#btn_action_fetch').attr('class', 'btn btn-default btn-primary');
                }
                else{
                    actions_closeall()
                }
            }

            $('#btn_action_fetch').click(function(){
               toggle_action_fetch()
            });
        });
    });
</script>
{% endblock %}