{% extends "base.html" %}
{% block content %}

<style>
    html,body{
        height: 100%;
    }
    .table{
        cursor: pointer;
        border-spacing: 0px;
        border-color:white;
    }
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #e1e1e1;
        cursor: pointer;
    }
    .table>tbody>tr>th, .table>tbody>tr>td {
        border-top: none;
    }
    th{
        font-size:16px;
    }
    a, a:hover{
        color: black;
        text-decoration: NONE;
    }
    span.showdetails{
        color: #5a5a5a;
        font-size:13px;
        font-family: monospace;
    }
    span.showdetails:hover, div.showdetails:hover{
        text-decoration: underline;
    }
    div.bg_container{
        z-index:-1;
        margin-top:0;
        margin-bottom:0;
        height: 100%;
        width: 100%;
        position:fixed;
        top:48px;
        background-color: #bcd3e6;
    }
    div.bg_lower_container{
        position: fixed;
        width:100%;
        height:478px;
        bottom:0;
    }
    div.bg_repeat{
        background-image: url('/static/images/login_bg_repeat.png');
        background-position: right center;
        height: 478px;
        width: auto;
        overflow: hidden;
    }
    div.bg_leftcorner{
        background-image: url('/static/images/login_bg_leftcorner.png');
        width:792px;
        height: 478px;
        bottom:0;
        right:0;
        float:right;
    }
    div.row{
        background-color:white;
        border-left:10px solid white;
        border-right:10px solid white;
    }
</style>

<div class="container">
    <div class="row">
        <div style="height: 10px;"></div>
        <!--<div style="border:1px solid red;height: 200px;"></div>-->

        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Address</th>
                    <th>Protocol</th>
                    <th>Bandwidth</th>
                    <th>Updated</th>
                    <th style="min-width: 50px;">Size</th>
                </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            {% for source in sources %}
            <tr>
                <!--
                For skipping links:
                <td class="rowlink-skip"></td>-->
                <td class="rowlink-skip" style="background-color:white;">
                    <div id="{{source.name}}" class="showdetails">
                        <img src="{{source.thumbnail_url}}" width=64px height=64px/>
                        <div style="height: 2px;"></div>
                        <center>
                            <span class="showdetails" data="{{source.name}}">Details</span>
                        </center>
                    </div>
                </td>
                <td><a href="{{source.name}}/" target="_self"><b>{{source.name}}</b></a></td>
                <td>{{source.description}}</td>
                <td>{{source.crawl_url}}</td>
                <td>{{source.crawl_protocol}}</td>
                <td>{{source.bandwidth}}</td>
                <td>{{source.added}}</td>
                <td>{{source.total_size}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">WipKip</h4>
                <br>
                <div id="details_modal_description"></div>
            </div>
            <div class="modal-body">
                <table class="table" style="cursor: default;">
                    <thead>
                    </thead>
                    <tbody id="details_modal">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    function process(res){
        if(res.hasOwnProperty('get_source_details')){
            var data = res['get_source_details'];

            // clear modal first
            $('#details_modal').html('');
            $('#details_modal_description').html('');

            var expected = [
                ['added', 'Date added'],
                ['crawl_lastcrawl', 'Last Crawled'],
                ['crawl_url', 'Location'],
                ['total_size', 'Total Size'],
                ['total_files', 'Amount of files'],
                ['crawl_protocol', 'Protocol'],
                ['crawl_authtype', 'Auth type'],
                ['crawl_username', 'Auth user'],
                ['crawl_password', 'Auth pass'],
                ['crawl_verifyssl', 'Verify SSL'],
                ['crawl_interval', 'Next crawl in'],
                ['filetypes', 'Filetypes'],
                ['color', 'Source color'],
                ['description']
            ];

            for (var i=0; i != expected.length; i++){
                for (var key in data) {
                    var obj = data[key];

                    if (key == expected[i][0]){
                        if (key == 'description'){
                            $('#details_modal_description').html(obj);
                        }
                        else{
                            var html = '<tr><th>' + expected[i][1] + '</th><th>' + obj + '</th></tr>';
                            var existing = $('#details_modal').html();

                            $('#details_modal').html(existing + html);
                        }
                    }
                }
            }
            $('#myModal').modal('show');
        }
    }
    $(document).ready(function(){

        $('div.showdetails').click(function() {
            var source_name = $(this).attr('id');

            post('cmd=get_source_details&source_name=' + source_name);
        });


    });

</script>

{% endblock %}