{% extends "base.html" %}
{% block content %}

<style>
    hr {
        -moz-border-bottom-colors: none;
        -moz-border-image: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-top: 1px solid #d5d5d5;
        border-style: solid none;
        margin:4px 0;
    }
    h2{
        font-family:sans-serif;
    }
    h3{
        margin-bottom:2px;
    }
    div.sources_container{
        margin-left:20px;
        width: 800px;
        margin:0 auto;
        overflow:hidden;
    }
    div.sources_display_options{
        width:800px;
        height:40px;
        margin:0 auto;
    }
    div.source_header{
        overflow:hidden;
        min-height:48px;
    }
    div.source_container{
        padding-left: 10px;
        padding-right: 10px;
        width:800px;
        margin-bottom:16px;
    }
    div.source_thumbnail{
        float:left;
        min-height:48px;
    }
    img.source_thumbnail{
        margin-top:4px;
        width:48px;
        height:48px;
    }
    div.source_header_text{
        float: left;
        min-height:48px;
        width:666px;
        margin-left:8px;
        color: #444;
    }
    div.source_thumbnail_and_text{

    }
    div.source_header_info{
        overflow:hidden;
        height:28px;
        font-size:18px;
        float: left;
        padding-top:6px;

        font-family: Arial, Verdana, Tahoma, sans-serif, serif;
        color: #444;
    }
    div.source_header_info_item{
        margin-left:16px;
        float:left;
    }
    span.source_header_info_val{
        color: #428bca;
        font-size: 16px;
        font-weight: bold;
    }
    div.source_content_container{
        overflow: hidden;
        margin-top:20px;
    }
    div.formatgraph{
        padding-top:-50px;
        width:260px;
        height:260px;
        float:left;
        z-index:-1;
        position: relative;
    }
    div.source_content{
        float:left;
        margin-left: 40px;
        width: 480px;
    }
    td{
        font-size:13px;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        padding: 8px;
        line-height: 1;
        vertical-align: top;
        border-top: 1px solid #d5d5d5;
    }
    .btn-blue {
        color: #FFFFFF;
        background-color: #428BCA;
        border-color: #FFFFFF;
    }

    .btn-blue:hover,
    .btn-blue:focus,
    .btn-blue:active,
    .btn-blue.active,
    .open .dropdown-toggle.btn-blue {
        color: #FFFFFF;
        background-color: #62A7E3;
        border-color: #FFFFFF;
    }

    .btn-blue:active,
    .btn-blue.active,
    .open .dropdown-toggle.btn-blue {
        background-image: none;
    }

    .btn-blue.disabled,
    .btn-blue[disabled],
    fieldset[disabled] .btn-blue,
    .btn-blue.disabled:hover,
    .btn-blue[disabled]:hover,
    fieldset[disabled] .btn-blue:hover,
    .btn-blue.disabled:focus,
    .btn-blue[disabled]:focus,
    fieldset[disabled] .btn-blue:focus,
    .btn-blue.disabled:active,
    .btn-blue[disabled]:active,
    fieldset[disabled] .btn-blue:active,
    .btn-blue.disabled.active,
    .btn-blue[disabled].active,
    fieldset[disabled] .btn-blue.active {
        background-color: #428BCA;
        border-color: #FFFFFF;
    }

    .btn-blue .badge {
        color: #428BCA;
        background-color: #FFFFFF;
    }
    .btn:focus {
        outline: none;
    }
    div.tags_container{
        width:780px;
        margin-left:2px;
        height:30px;
        color: #444;
        font-size:13px;
        font-weight:bold;
    }
    a.tags_value{
        color: #428bca;
        font-size:13px;
        text-decoration:underline;
        cursor:pointer;
    }
</style>

<script>
    Highcharts.setOptions({
        colors: ['#428bca', '#999', '#428bca', '#999', '#428bca']
    });

    var piecharts = [];

    function fixHighchartsPieScale(target){ $(target).css('height','160px'); }
</script>

<style>
    div.b{
    color: #dce6e4;
    }
</style>

<div style="height: 20px;"></div>
<div class="sources_display_options">
    <div style="width:800px;overflow:hidden;height:40px;">
        <div style="float:right;">
            <button id="btn_sortfilter" class="btn btn-default btn-primary btn-xs"><span class="glyphicon glyphicon-th"></span> Sort and Filter</button>
            <button id="btn_view_tags" class="btn btn-default btn-primary btn-xs"><span class="glyphicon glyphicon-th"></span> Show tags</button>
            <button id="btn_view_detailed" class="btn btn-default btn-primary btn-xs"><span class="glyphicon glyphicon-th"></span> Show details</button>

        </div>
    </div>
</div>
<div class="sources_container">
    {% if sources %}

        {% for source in sources %}
            <div class="source_container">
                <div id="{{source.name}}" class="source_header">
                    <div id="header_animate_{{source.name}}" class="source_thumbnail_and_text">
                        <div class="source_thumbnail">
                            <img class="source_thumbnail" src="{{source.thumbnail_url}}"/>
                        </div>
                        <div class="source_header_text">
                            <span id="header_{{source.name}}" style="font-size:24px;">{{source.name}}</span>
                            {% if source.country %}
                                <img style="margin-left:4px;" src="http://cdn.quakelive.com/web/2011071903/images/flags/nl_v2011071903.0.gif"/>
                            {% endif %}
                            <br>
                            <span>{{source.description}}</span>
                        </div>
                    </div>
                    <center>
                        <div class="source_header_info">
                            <div class="source_header_info_item" style="margin-left:0px;">
                                Total Size: <span class="source_header_info_val">{{source.total_size_human}}</span>
                            </div>
                            <div class="source_header_info_item">
                                Speed: <span class="source_header_info_val">{{source.bandwidth}}<small>mbit</small></span>
                            </div>
                            <div class="source_header_info_item">
                                Updated: <span class="source_header_info_val">1 day ago</span>
                            </div>
                            <div class="source_header_info_item">
                                Protocol: <span class="source_header_info_val">{{source.crawl_protocol}}</span>
                            </div>
                            <div class="source_header_info_item">
                                Location: <span class="source_header_info_val">{{source.country}}</span>
                            </div>
                        </div>
                    </center>
                </div>
                <hr>
                <div id="detailed_view_content" class="source_content_container">
                    <div id="pie_filedistribution_container_{{source.name}}" class="formatgraph">

                    </div>
                    <div class="source_content">
                        <table id="source" class="table table-bordered table-striped" style="clear: both;margin-top:-4px;">
                            <tbody>
                            <tr>
                                <td width="25%"><b>Location</b></td>
                                <td width="80%">{{source.crawl_url}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><b>Number of files</b></td>
                                <td width="80%">{{source.total_files}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><b>Authentication</b></td>
                                <td width="80%">{{source.crawl_authtype}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <a style="float:right;" href="browse/{{source.name}}/" class="btn btn-blue"><i class="icon-white icon-share-alt"></i> Browse this source</a>
                        <a style="float:right;" href="/admin/sources/edit/{{source.name}}/" class="btn btn-default"><i class="icon-white icon-share-alt"></i> Edit</a>
                    </div>
                </div>
                <hr class="border-bottom">
                <div class="tags_container">
                    Tags:
                    {% if source.tags %}
                        {% for tag in source.tags %}
                            <a href="?tag={{tag}}" class="tags_value">{{tag}}</a>
                        {% endfor %}
                    {% else %}
                        <b>None</b>
                    {% endif %}
                </div>
            </div>

        <script>
            var target = '#pie_filedistribution_container_{{source.name}}';

            var data = [
                {% if source.filedistribution['documents'] %}
                    ['Documents', {{source.filedistribution['documents']}}],
                {% endif %}
                {% if source.filedistribution['movies'] %}
                    ['Video', {{source.filedistribution['movies']}}],
                {% endif %}
                {% if source.filedistribution['music'] %}
                    ['Music', {{source.filedistribution['music']}}],
                {% endif %}
                {% if source.filedistribution['pictures'] %}
                    ['Pictures', {{source.filedistribution['pictures']}}],
                {% endif %}
                {% if source.filedistribution['files'] %}
                    ['Other', {{source.filedistribution['files']}}]
                {% endif %}
            ];

            var piechart = chart_browse_pie_filedistribution_spawn(target, data, '{{source.name}}');
            piecharts.push(piechart);

            $(target).css('height','160px');
        </script>
        {% endfor %}
    {% else %}
        no sources added yet.
    {% endif %}
</div>



<script>
    var display_show_details = true;
    var display_show_tags = true;

    var display_show_details = true;
    var display_show_tags = true;

    $('.source_header').click(
            function(){
                if (!display_show_details){
                    var uri = $(this).attr('id') + '/';
                    goto_uri('/browse/'+uri);
                }
            }
    );

    $('.source_header').hover(function(){
        //var id = $(this).attr('id');
        if(!display_show_details){
            $(this).css('background-color', '#DCE6E4');

            //$('#header_' + id).css('text-decoration', 'underline');
        }
        else{
            //$('#header_' + id).css('text-decoration', 'none');
            $(this).css('background-color', 'transparent');
        }
    }, function(){
        //var id = $(this).attr('id');
        $(this).css('background-color', 'transparent');
        //$('#header_' + id).css('text-decoration', 'none');
    });

//    $('.source_header').hover(function(){
//        if(!display_show_details){
//            var e = '#header_animate_' + $(this).attr('id');
//            $(this).animate({ marginLeft: "10px"}, {duration:100, queue: false, easing: 'linear'});
//        }
//    },function(){
//        $(this).animate({ marginLeft: "0px"}, {duration:100, queue: false, easing: 'linear'});
//    });

    function show_tags(){
        display_show_tags = true;
        $('.tags_container').show();

        $('#btn_view_tags').attr('class', 'btn btn-default btn-primary btn-xs');
    }

    function hide_tags(){
        display_show_tags = false;
        $('.tags_container').hide();

        $('#btn_view_tags').attr('class', 'btn btn-default btn-xs');
    }

    function show_details(){
        display_show_details = true;
        $('.source_content_container').show();
        $('.border-bottom').show();

        $('#btn_view_detailed').attr('class', 'btn btn-default btn-primary btn-xs');

        $('.source_header').css('cursor', 'default');
    }

    function hide_details(){
        display_show_details = false;
        $('.source_content_container').hide();
        $('.border-bottom').hide();

        $('#btn_view_detailed').attr('class', 'btn btn-default btn-xs');

        $('.source_header').css('cursor','pointer');
    }

    $('#btn_view_detailed').click(function(){
        if(display_show_details){
            hide_details();
        }
        else{
            show_details();
        }
    });

    $('#btn_view_tags').click(function(){
        if(display_show_tags){
            hide_tags();
        }
        else{
            show_tags();
        }
    });

    hide_tags();
</script>

{% endblock %}