{% extends "base.html" %}

{% block content %}

<style>
    .alert{
        padding: 8px;
        margin-bottom: 6px;
    }
    .form-control {
        height: 34px;
        padding: 6px 12px;
    }
    .form-horizontal .control-label {
        text-align: left;
        font-size: 12px;
    }
    .span3{
        background: #b3cdda;
    }
    .span9{
        background: #d9e6ee;
    }
    .span3, .span9{
        min-height: 250px;
    }
    div.helpitem{
        margin-bottom:20px;
    }


    h5,h4,h3,h2,h1{
        color: #428bca;
    }
</style>
<div style="height:20px;"></div>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/admin">Admin</a></li>
        {% for crumb in breadcrumbs %}
        {% if crumb['active'] %}
        <li class="active">{{crumb['name']}}</li>
        {% else %}
        <li><a href="/{{crumb['href']}}">{{crumb['name']}}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
    <div class="row">
        {% if flashmessages %}

        {% for message in flashmessages %}
        <div class="alert alert-{{message.mtype}}">
            <b>{{message.key}}: </b>{{message.message}}<br>
        </div>
        {% endfor %}
        <br>
        {% endif %}

        <div class="col-xs-6">
            {% from "_formhelpers.html" import render_field %}
            <form class="form-horizontal" action="add" method="post" enctype="multipart/form-data">
                <div class="well">
                    <h3>General</h3>
                    * is required.<br><br>
                    {{ render_field(form.name) }}
                    {{ render_field(form.description) }}
                    {{ render_field(form.thumbnail) }}

                    <div class="form-group">
                        <label for="location" class="control-label col-xs-2">Location*</label>
                        <div class="col-xs-10">
                            <input name="crawl_url" id="location" type="text" class="form-control">
                            <div style="overflow:hidden;">
                                <span class="input-group-btn" style="width:114px;float:left;">
                                    <a style="margin-top:6px;" class="btn btn-xs btn-default" onclick="detecturl()" href="#">Test Connection</a>
                                </span>
                                <div id="detecturl_message" style="height:26px;float:left;padding-top:7px;">
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ render_field(form.crawl_protocol) }}
                    {{ render_field(form.bandwidth) }}
                    {{ render_field(form.country) }}
                </div>
                <div class="well">
                    <h3>Authentication</h3>
                    If the source does not require any authentication, you should leave this empty.<br><br>
                    {{ render_field(form.crawl_username) }}
                    {{ render_field(form.crawl_password) }}
                {{ render_field(form.crawl_authtype) }}
                </div>
                <div class="well">
                    <h3>Crawl Options</h3>
                    {{ render_field(form.crawl_interval) }}
                    {{ render_field(form.crawl_wait) }}
                    {{ render_field(form.crawl_useragent) }}
                    {{ render_field(form.crawl_verifyssl) }}
                </div>
                <div class="col-xs-offset-2 col-xs-10" style="margin-bottom:40px;">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-xs-6">
            <div class="well">
                <h3>Help</h3>
                <div class="helpitem">
                    <h5><b>→ General → name</b></h5>
                    The name of this source.<br><br>
                    <ul class="list-group">
                        <li class="list-group-item">Alphanummeric and underscores only</li>
                        <li class="list-group-item">A minimum of 3 characters and a maximum of 14 characters.</li>
                    </ul>
                </div>
                <div class="helpitem">
                    <h5><b>→ General → Info</b></h5>
                    Use this to describe the server. This text will be shown in the server browser.<br><br>
                    <ul class="list-group">
                        <li class="list-group-item">A maximum of 360 characters is allowed.</li>
                    </ul>
                </div>
                <div class="helpitem">
                    <h5><b>→ General → Image</b></h5>
                    Upload a thumbnail image for the source.<br><br>
                    <ul class="list-group">
                        <li class="list-group-item">Must be a valid image that is no larger than 512x512.</li>
                    </ul>
                </div>
                <div class="helpitem">
                    <h5><b>→ General → Location</b></h5>
                    The location to the source.
                    <div style="margin-left:20px;margin-top:10px;">
                        <b>HTTP(s):</b>
                        <h4><span style="margin-left:20px;margin-top:6px;" class="label label-default">http://example.org/files/</span></h4>
                        <br>
                        <b>FTP:</b><h4>
                        <span style="margin-left:20px;margin-top:6px;" class="label label-default">ftp://example.org/</span></h4>
                    </div>
                    <br>
                    Use the 'test connection' button to see if everything works correctly before adding the server.
                    <br><br>
                    Linking directly to a protoindex file is allowed.
                    <br>
                    <br>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Must start with a valid scheme (<b>http://, https://, ftp://, smb://</b>)
                        </li>
                    </ul>
                </div>
                <div class="helpitem">
                    <h5><b>→ General → Protocol</b></h5>
                    Pick any of the available protocols.
                </div>
                <div class="helpitem">
                    <h5><b>→ General → Speed</b></h5>
                    Use this to specify how fast the source is, in mbit.<br><br>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Must be an integer ranging from 0 to 5000.
                        </li>
                    </ul>
                </div>
                <div class="helpitem">
                    <h5><b>→ General → Country</b></h5>
                    Useful for searching for a nearby source.<br><br>
                </div>
                <div class="helpitem">
                    <h5><b>→ Authentication → Type</b></h5>
                    The type of authentication to use. If you don't know what to use, use the 'test connection' button near 'Location' to detect what kind of authentication is needed for accessing this source.<br><br>
                </div>
                <div class="helpitem">
                    <h5><b>→ Crawler → Interval</b></h5>
                    Determine at what interval to crawl, if at all.<br><br>
                </div>
                <div class="helpitem">
                    <h5><b>→ Crawler → User-Agent</b></h5>
                    The useragent to use while crawling the source.<br><br>
                </div>
                <div class="helpitem">
                    <h5><b>→ Crawler → Wait</b></h5>
                    The time between individual requests to wait. In some cases it is best to cut the source some slack.<br><br>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function detecturl(){
        // to-do: needs more (client-side) validation. Server side is handled fine at the moment.
        var url = $('#location').val();
        if(url != ''){
            post('cmd=detecturl&url=' + url);
        }
        else{
            $('#detecturl_message').html('<small style=\"color:red\">No.</small>');
        }
    }

    function process(res){
        if (res.hasOwnProperty('detecturl')){
            console.log('yep');
            r = res['detecturl'];
            $('#detecturl_message').html('<small style=\"color:'+r['textcolor']+'\">'+r['status']+'</small>');

            if(r['auth'] != ''){

                var a = r['auth'];
                if (a == 'DIGEST'){
                    a = 'HTTP_DIGEST';
                }
                else if (a == 'BASIC'){
                    a = 'HTTP_BASIC';
                }

                var user = $('#crawl_username').val();
                var pass = $('#crawl_password').val();

                if( user == ''){
                    $('#crawl_username').val('?');
                }
                if( pass == ''){
                    $('#crawl_password').val('?');
                }

                $('#crawl_authtype').val(a);
            }
            else{
                $('#crawl_username').val('');
                $('#crawl_password').val('');
                $('#crawl_authtype').val('None');
            }
        }
    }
</script>
{% endblock %}