[General]
recursive = 10

[Protoindex]
file_name = 00INDEXx.gz
file_max_size = 5

[Crawler]
default_ua = SanderexCrawl
timeout = 5

[Database]
host=127.0.0.1
port=5432
db=db_name
user=db_user
pass=db_pass