{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <table class="table table-condensed" width="647">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Address</th>
                <th>Protocol</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><div style="margin-top:-5px;"><img src="http://www.chickenmasters.be/pictures/428_detail.jpg?1323703168" width=64px height=64px/></div></td>
                <td>WipKip</td>
                <td>eoihndiohndio ndfhion iodfhofhoi hndio nido ndfiohn  ind ofnhifdh ndi ndifhondfh  niodh</td>
                <td>http://wipkip.nikhef.nl/events/</td>
                <td>HTPP</td>
                <td>45 GB</td>
            </tr>
            <tr>
                <td><div style="margin-top:-5px;"><img src="http://www.chickenmasters.be/pictures/428_detail.jpg?1323703168" width=64px height=64px/></div></td>
                <td>WipKip</td>
                <td>eoihndiohndio ndfhion iodfhofhoi hndio nido ndfiohn  ind ofnhifdh ndi ndifhondfh  niodh</td>
                <td>http://wipkip.nikhef.nl/events/</td>
                <td>HTPP</td>
                <td>45 GB</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}