{% extends "base.html" %}
{% block content %}

<div style="height: 20px;"></div>
<div class="container">
    <div class="row">
        <table class="table table-condensed" width="647">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th style="min-width: 240px;">Description</th>
                <th>Address</th>
                <th>Protocol</th>
                <th>Bandwidth</th>
                <th>Updated</th>
                <th style="min-width: 50px;">Size</th>
            </tr>
            </thead>
            <tbody>
            {% for source in sources %}
            <tr>
                <td><div style="margin-top:-5px;"><img src="http://www.minecraftforum.net/uploads/profile/photo-3380320.jpg?_r=1400806451" width=64px height=64px/></div></td>
                <td><b>{{source.name}}</b></td>
                <td>{{source.description}}</td>
                <td>{{source.crawl_url}}</td>
                <td>{{source.crawl_protocol}}</td>
                <td>{{source.bandwidth}}</td>
                <td>{{source.added}}</td>
                <td>{{source.total_size}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}